//colors variables
$bg-blue: #052849;
$bg-grey: #f6f8fa;
$bg-white: #ffffff;
$text-dark: #000000;
$text-midum: #052849;
$text-light: #6f7f96;

// shadow variable
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// radius variable
$box-radius: 4px;

// margin variable
$top: 7vh;

