//colors variables
$bg-blue: #052849;
$bg-grey: #f6f8fa;
$bg-white: #ffffff;
$bg-black: #282828;
$text-dark: #000000;
$text-medium: #052849;
$text-light: #8694a9;
$line-blue: #44a7f6;
$line-grey: #98a3bd;

// shadow variable
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// radius variable
$box-radius: 4px;

// margin variable
$top: 7vh;

