@import '../../styles/style';

.visual {
  display: flex;
  flex-direction: column;
  gap: $top;
  margin-top: $top;
  width: 75vw;
}

@media screen and (max-width: 1300px){
  .visual {
    width: 90vw;
  }
}